@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Soll';
        font-style: normal;
        font-weight: 300;
        src: url('/public/font/SollLight.woff') format('woff');
    }

    @font-face {
        font-family: 'Soll';
        font-style: normal;
        font-weight: 400;
        src: url('/public/font/SollRegular.woff') format('woff');
    }

    @font-face {
        font-family: 'Soll';
        font-style: normal;
        font-weight: 600;
        src: url('/public/font/SollBook.woff') format('woff');
    }
    @font-face {
        font-family: 'Soll';
        font-style: normal;
        font-weight: 700;
        src: url('/public/font/SollBold.woff') format('woff');
    }
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
